<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumJavaProjectSuite">
	<test name="SeleniumJavaProjectTest">
		<classes>
			<class name="com.hp.test.BaseClassTest1" />
			<class name="com.hp.test.BaseClassTest2" />
			<class name="com.hp.test.LoginPageTest" />
			<class name="com.hp.test.HomePageTest" />
		</classes>
	</test>
</suite>